:root {
    --md-text-font: Inter, 源柔ゴシックL, Roboto, sans-serif;
    --md-code-font: Ubuntu mono, Roboto mono;
}

/* ブログ一覧の文字を少し小さめに */
.md-post__content.md-typeset {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    font-size: 0.6rem;
    line-height: 1.6;
}
