header,
main,
footer {
  max-width: 600px;
}

header {
  height: 1rem;
}

footer {
  text-align: center;
}

a#colorToggle:hover {
  text-decoration: none;
}

#twitter {
  color: rgb(29, 155, 240);
}

#color-scheme-light {
  color: #ff8c00;
}

#color-scheme-dark {
  color: #f9c270;
}

blockquote {
  font-size: unset;
  text-align: unset;
  font-style: italic;
  color: var(--color-text-secondary);
  border-left: 3px solid var(--color-text);
  background-color: var(--color-shadow);
}

table td,
table th,
table tr {
  text-align: var(--justify-normal);
}

img {
  width: auto;
  max-height: 370px;
}
